<h2>Easy Time Tracking</h2>

<h3>Views</h3>
<ul>
    <li><%= link_to "Day", controller: "easytt", action: "index", :viewtype => "day", :refdate => @view.refdate %></li>
    <li><%= link_to "Week", controller: "easytt", action: "index", :viewtype => "week", :refdate => @view.refdate %></li>
    <li><%= link_to "Month", controller: "easytt", action: "index", :viewtype => "month", :refdate => @view.refdate %></li>
    <li><%= link_to "Working week", controller: "easytt", action: "index", :viewtype => "workweek", :refdate => @view.refdate %></li>
    <li><%= link_to "Working month", controller: "easytt", action: "index", :viewtype => "workmonth", :refdate => @view.refdate %></li>
</ul>

<div class="easytt_view_title_row">
    <%= link_to "<<", controller: "easytt", action: "index", :viewtype => @view.type, :refdate => @view.previous_date %>
    <span class="easytt_view_title"><%= @view.view_title %></span>
    <%= link_to ">>", controller: "easytt", action: "index", :viewtype => @view.type, :refdate => @view.next_date %>
</div>

<%= @view.calendar %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'easytt', :plugin => 'iotbzh' %>
<% end %>
