<h2>Easy Time Tracking</h2>

<ul>
    <li>ViewType: <%= @viewtype %></li>
    <li>StartDate: <%= @startdate %></li>
    <li>EndDate: <%= @enddate %></li>
    <li>Records: <%= @entries.length %></li>
</ul>

<div id="easytt_timeframetitle">
    <%= link_to "<<", controller: "easytt", action: "index", :viewtype => @viewtype, :timeframe => @previousdate %>
    <%= l('date.month_names')[@timeframe.month] %> <%= @timeframe.year %>
    <%= link_to ">>", controller: "easytt", action: "index", :viewtype => @viewtype, :timeframe => @nextdate %>
</div>

<div class="easytt_container">
    <%= print_day_names %>
    <%= print_calendar %>
</div>


<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'easytt', :plugin => 'iotbzh' %>
<% end %>
