<h2>Easy Time Tracking</h2>

<h3><%=t :view%></h3>
<select id = "select_view" name ="select_view">
<option value="day"> <%=t :day%></option>
<option value="week"><%=t :week%></option>
<option value="month"><%=t :month%></option>
<option value="workweek"><%=t :workweek%></option>
<option value="workmonth"><%=t :workmonth%></option>
</select>
<%= javascript_tag do %>
$('#select_view').val('<%=@view.type%>')
$( "#select_view" ).change(function() {
  update_view();
});
<%end%>


<div id = "formulaire" >
    <h3 class = 'typeForm'><%=t :creation%></h3>
    <%= form_for @time_entry, url: {action: "create"}, html: {class: "formulaire"} do |f| %>
        <p><label><%=t :project%></label>  <span class="required"> *</span><%= f.select :project_id, project_tree_options_for_select(Project.allowed_to(:log_time).to_a, :selected => @time_entry.project, :include_blank => true), :required => true %> 
        <label><%=t :activity%></label> <span class="required">*</span> <%= f.select :activity_id, activity_collection_for_select_options(@time_entry), :required => true %></p>
        <p style = "display:none; "><label>Issue</label>    <%= f.text_field :issue_id, :size => 6, :required => Setting.timelog_required_fields.include?('issue_id') %>
            <span id="time_entry_issue">
      <%=  link_to_issue(@time_entry.issue) if @time_entry.issue.try(:visible?) %>
    </span>
        </p>
        <p><label><%=t :date_n%></label><span class="required">*</span><%= f.date_field :spent_on, :size => 10, :required => true %><%= calendar_for('time_entry_spent_on') %>
        <label><%=t :hours_n%></label><span class="required">*</span><%= f.text_field :hours %></p>
        <p><label><%=t :comment%></label><%= f.text_field :comments %></p>
        <p> <%= hidden_field_tag 'id', params[:id] %> </p>
        <p>  <%= f.submit "Ok" %><input type="submit" name="submit"  value="duplicate" class="button-small" id="button_duplicate" onclick="duplicate()" >
    <% end %>
     <input type="submit" name="button" value="Cancel" class="button-small" id="cancel" onclick="hide()"> </p>
</div>
<br/>
<%= javascript_tag do %>
  $(document).ready(function(){
    $('#time_entry_project_id').change(function(){
      $('#time_entry_issue_id').val('');
    });
    $('#time_entry_project_id, #time_entry_issue_id').change(function(){
      $.ajax({
        url: '<%= escape_javascript(@time_entry.new_record? ? new_time_entry_path(:format => 'js') : edit_time_entry_path(:format => 'js')) %>',
        type: 'post',
        data: $(this).closest('form').serialize()
      });
    });
  });

  observeAutocompleteField('time_entry_issue_id',
    function(request, callback) {
      var url = '<%= j auto_complete_issues_path %>';
      var data = {
        term: request.term
      };
      var project_id;
      <% if @time_entry.new_record? && @project %>
      project_id = '<%= @project.id %>';
      <% else %>
      project_id = $('#time_entry_project_id').val();
      <% end %>
      if(project_id){
        data['project_id'] = project_id;
      } else {
        data['scope'] = 'all';
      }

      $.get(url, data, null, 'json')
        .done(function(data){
          callback(data);
        })
        .fail(function(jqXHR, status, error){
          callback([]);
        });
    },
    {
      select: function(event, ui) {
        $('#time_entry_issue').text('');
        $('#time_entry_issue_id').val(ui.item.value).change();
      }
    }
  );
<% end %>


<%if true%>
<div id="user_time_entry">
    <%= form_for @users, url: {action: "other_user"} do |f| %>
        <p><h3><%=t :user%></h3>
        <%= f.select :id, options_from_collection_for_select(User.where("type <> 'AnonymousUser'").order(:firstname), :id, :name), :include_blank => false,:required => true %>
    <% end %>
</div>

<%= javascript_tag do %>
$('#user_id').val('<%=@userid%>')

$( "#user_id" ).change(function() {
  update_user();
});
<%end%>
<%end%>

<div class="easytt_view_title_row">
    <%= link_to "<<", controller: "easytt", action: "index", :viewtype => @view.type, :refdate => @view.previous_date %>
    <span class="easytt_view_title"><%= @view.view_title %></span>
    <%= link_to ">>", controller: "easytt", action: "index",:viewtype => @view.type, :refdate => @view.next_date %>
</div>


<%= @view.calendar %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'easytt', :plugin => 'iotbzh' %>
    <%= javascript_include_tag 'easytt',:plugin => 'iotbzh' %>
<% end %>
